---
import CldImage from './CldImage.astro';
interface Props {
  src: string;
  alt: string;
  width: string;
  height: string;
  customClass?: string;
}

const { src, alt, width, height, customClass="" } = Astro.props;
---

<div class=`fade-in ${customClass}`>
  <img class="lightbox-image" src={src} alt={alt} loading="lazy" />
  <!-- <CldImage src={src} width={width} height={height} alt={alt} customClass=`lightbox-image ${customClass}`/> -->
</div>


<style>
 .lightbox-image {
   cursor: pointer;
 }

</style>
