---
import Layout from "./Layout.astro";
import "../styles/global.css";
import FullImageHeroSection from "../components/FullImageHeroSection.astro";
import GallerySection from "../components/GallerySection.astro";
import Gallery from "../pages/gallery.astro";

const { frontmatter } = Astro.props;

// Get all images in the gallery folder
const allImages = await Astro.glob("../assets/images/Gallery/*.webp");

// Filter the images to only include the ones that match the gallery name
const images = allImages.filter(image => image.default.src.includes(frontmatter.shortTitle.toLowerCase()));

---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <FullImageHeroSection id={frontmatter.shortTitle.toLowerCase()}>
    <h1>
      <span class="letter-highlight">{frontmatter.title[0]}</span>{
        frontmatter.title.slice(1)
      }
    </h1>
  </FullImageHeroSection>
  <GallerySection images={images} />

</Layout>
