---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ReturnToTopButton from "../components/ReturnToTopButton.astro";
import Divider from "../components/Divider.astro";
interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-slate-900">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="description" content="Benjamin Gardiner" />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href=`https://bengardinerphotography.com/${title}` />
    <meta name="robots" content="index, follow" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=`${title} - Ben Gardiner Photography` />
    <meta property="og:site_name" content="Ben Gardiner Photography" />
    <meta property="og:description" content={description} />
    <meta
      property="og:url"
      content=`https://bengardinerphotography.com/${title}`
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Ben Gardiner Photography</title>
  </head>
  <body>
    <Header />
    <main class="clear full-page">
      <slot />
    </main>
    <ReturnToTopButton />
    <Divider margin="none"/>
    <Footer />
    <script>
      import "../scripts/menu.js";
      import "../scripts/effects.js";
      import "../scripts/returnToTop.js";
      import "../scripts/navHide.js";
      import "../scripts/buttons.js";
    </script>
  </body>
</html>
